:root {
  --color-white: #fff;
  --color-black: #3a4042;
  --color-shadow: rgba(58, 64, 66, 0.1);

  --color-primary: #f25a70;

  --color-secondary: #eee;
  --color-third: #9b9b9b;
  --color-fourth: #707070;
}
