.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app > .card {
  margin-top: 85px;
  width: 80vw;
  aspect-ratio: 1/1;
  padding: 15px;
  margin-bottom: 40px;
}
